alphamask.egg-info
__pycache__/
rmsd_analysis/*
notebooks/out.png
mask_72/*
repo.md
state1.pdb
state2.pdb
notebooks/rmsd_analysis/*
notebooks/newplot.png

notebooks/out/*
my_experiments/*
logs/prediction.log
submit_debug.sh
alphamask/her2-msa.a3m
